
.topbox_con{
  display: flex;
  flex-wrap:wrap;
}
.topbox_con>view{
  width: 50%;
}
.topbox_title img,
.topbox_img img{
  width:24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.topbox_text:before{
  content:"";
  display:inline-block;
  margin-right: 5px;
  border:4px solid #A3F0FF;
  width:10px;
  height: 10px;
  border-radius: 50%;
}